# Ignore folders
auto_doc_agent/
data/
docs/

faiss_ast_index/
faiss_index/
tmp_repo/
Report Writing/
src/

# Ignore files
.env    
.csv
.xlsx
.xls


".env" 
".env" 

node_modules/
project_view/
.venv/